[Desktop Entry]
Name=Portugal ID card authentication
Name[pt]=Autenticação Cartão do Cidadão
GenericName=Portugal ID card authentication
GenericName[pt]=Autenticação Cartão do Cidadão
Comment=Plugin de autenticação com o Cartão de Cidadão
Comment[pt]=Plugin for Portugal ID card authentication
Exec=java -Dsun.java2d.xrender=false -jar /usr/share/plugin-autenticacao-gov/plugin-autenticacao-gov.jar sj
Icon=plugin-autenticacao-gov
Terminal=false
Type=Application
Categories=Utility
